body{
    margin: 0;
    box-sizing: border-box;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
}

.container{
    display: flex;
    flex-direction: column;
    /* text-align: center; */
    align-items: center;
    /* justify-content: center; */
    /* max-width: 700px; */
    
}
.header{
    background-color: rgb(22, 202, 218);
    width: 100%;
    margin-bottom: 20px;
    color: rgb(255, 255, 255);
}


#input-el{
    width: 300px;
    height: 15vw;
    padding: 8px 10px;
    font-size: 15px;
}

#btn{
    border: none;
    /* width: 70px; */
    margin: 10px;
    padding: 10px 20px;
    background-color: rgb(22, 202, 218);
    border-radius: 12px;
    font-weight: 600;
    font-size: 15px;
    color: rgb(255, 255, 255);
}


#output-el{
    border: 1px solid black;
    width: 300px;
    height: 10vw;
    /* text-align: center; */
    padding: 10px 8px;
    /* text-indent: -170px; */
    font-size: 15px;
}


footer{
    background-color: rgb(22, 202, 218);
    color: rgb(255, 255, 255);
    padding: 10px 100px;
    width: 100%;
    
}

